*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", "Arial Nova", Helvetica, Arial, sans-serif ;
}

.label {
    background: linear-gradient(to right, rgb(11, 62, 39), rgb(25, 113, 73));
    height: 10vh; /* Высота полосы */
    width: 100%; /* Ширина полосы, чтобы она занимала всю ширину окна браузера */
    position: fixed; /* Фиксированное позиционирование, чтобы полоса была всегда видна вверху страницы */
    top: 0; /* Расположение полосы сверху страницы */
    z-index: 1000; /* Задаем высокий уровень z-index, чтобы полоса была поверх других элементов */
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    align-items: center;
}
.label-center  {
    display: flex;
    justify-content: center; 
    height: 10vh;
    align-items: center;
} 


.icon-svg {
    height: 50px;
}

.label-left{
    font-weight: 250;
    color: white;
    font-size: 1em;
}
.label-right, .label-right-find-icon, .label-point{
    display: flex;
    align-items: center;
}
.label-right{
    justify-content: space-evenly;
}
/*

.label-left div {
    font-weight: 250;
    color: white;
    font-size: 90%;
}

.label-left svg {
    width: 40px;
}

.label-left {
    position:  absolute;
    top: 23px;
    left: 104px;
    margin: 20px;
}

.label-right-find-icon {
    display: flex;
    position: absolute;
    align-items: center;
    right: 580px;
    top: 45px;
    margin: auto;
    color: white !important;
    fill: white !important;
}

.label-right-find-icon .text {
    margin-right: 5px;
    font-weight: 250;
    top: 40px;
    
}

.label-right-find-icon svg {
    width: 40px;
    margin-left: 10px;
    padding: 0px; /* Уменьшаем отступ между иконкой и текстом 
}
*/
/*

.label-right-find-icon .icon-with-text {
    display: flex;
    align-items: center;
}

.label-point {
    display: flex;
    position: absolute;
    align-items: center;
    width: 91px;
    right: 450px;
    top: 8px;
    margin: auto;
    color: white !important;
    fill: white !important;
} */

.content{
    margin-top: 10vh;
}